<%- include('../fragment/head',{title: "Event"}); %>

<body>
    <%- include('../fragment/nav'); %>
    <h1 style="text-align:center;">List Pelemnya <%= data.getFullName() %> %></h1>
    <div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center" style="margin-bottom:20px">
            <a class="btn btn-outline-success" style="margin:10px 10px;" href='/cast'>back to actor</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Movie</th>
                <th>Release Year</th>
                <th>Age When Movie Release</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
                <% data.Movies.forEach(e=>{ %>
                    <tr>
                      <th><%= e.id %> </th>
                      <td><%= e.name %> </td>
                      <td><%= e.released_year %> </td>
                      <td><%= ubahUmur(data.birth_year,e.released_year) %> </td>
                      <td><%= e.MovieCast.role %> </td>
                    </tr>
                    <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    </di>
</body>

</html>
