<%- include('../fragment/head',{title: "Event"}); %>
<body>
    <%- include('../fragment/nav'); %>
    <div class="container">
        <div class="row justify-content-center" style="margin-top:25px;margin-bottom: 25px;">
            <div class="col-sm-6">
                <h2 style="text-align:center;">Edit Pelem Layar Lebar</h2>
                <h6 style="text-align:center;"><a href="/movie">Movie</a></h6>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form action="" method="POST">
                    <div class="row">
                        <div class="form-group col-8">
                            <label>Name</label>
                            <input type="text" name="name" value="<%=data.name%>" class="form-control">
                        </div>
                        <div class="form-group col-4">
                            <label>Year Release</label>
                            <input type="number" name="released_year" value="<%=data.released_year%>" class="form-control <%= err.released_year ? "is-invalid" : "" %>">
                            <div class="invalid-feedback">
                                <%= err.released_year %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Genre</label>
                        <select name="genre" class="form-control">
                            <option value="" disabled>---Pilih Genre---</option>
                            <option value="Animation" <%= data.genre === "Animation" ? "selected" : ""  %>>Animation</option>
                            <option value="Comedy" <%= data.genre === "Comedy" ? "selected" : ""  %>>Comedy</option>
                            <option value="Drama" <%= data.genre === "Drama" ? "selected" : ""  %>>Drama</option>
                            <option value="Horror" <%= data.genre === "Horror" ? "selected" : ""  %>>Horror</option>
                            <option value="Religius" <%= data.genre === "Religius" ? "selected" : ""  %>>Religius</option>
                            <option value="Thriller" <%= data.genre === "Thriller" ? "selected" : ""  %>>Thriller</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Production House</label>
                        <select name="id_prodction" class="form-control">
                                <option value="" disabled selected>---Pilih Production House---</option>
                            <% prodHouse.forEach(el=>{ %>
                                <option value="<%= el.id %>" <%= data.id_prodctionHouse === el.id ? "selected" : ""  %> ><%= el.name_prodHouse %></option>
                            <% }) %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>