<%- include('../fragment/head',{title: "Event"}); %>

<body>
    <%- include('../fragment/nav'); %>
    <h1 style="text-align:center;">Event</h1>
    <div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center" style="margin-bottom:20px">
            <a class="btn btn-outline-success" style="margin:10px 10px;" href='/event/add'>Tambah Event</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Event Start</th>
                <th>Event End</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(e=>{ %>
                    <tr>
                      <th><%= e.id %> </th>
                      <td><%= e.name %> </td>
                      <td><%= e.convert(e.awal) %> </td>
                      <td><%= e.convert(e.akhir) %> </td>
                      <td><a href="/event/peserta/<%= e.id %>">Lihat Peserta</a> | <a href="/event/delete/<%= e.id %>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a> </td>
                    </tr>
                    <% }) %>
      
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    </di>
</body>

</html>
